sftp-panel {
    position: relative;
    height: 35%;
    width: 100%;
    flex: none;
    overflow: hidden;
    min-height: 200px;
    max-height: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.35);
}
