:host {
    .form-control,
    .input-group-text {
        background-color: var(--theme-bg-more);
        border-color: var(--theme-bg-less);
        color: var(--theme-fg);
    }

    .form-control::placeholder {
        color: var(--theme-fg-more-2);
    }

    select.form-control {
        color: var(--theme-fg);
    }

    label {
        color: var(--theme-fg);
    }

    .form-check-label {
        color: var(--theme-fg);
    }

    .text-muted {
        color: var(--theme-fg-more-2) !important;
    }

    .btn-outline-secondary {
        color: var(--theme-fg);
        border-color: var(--theme-bg-less);

        &:hover {
            background-color: var(--theme-bg-less);
        }
    }
}
