:host {
    display: block;
    position: absolute;
    z-index: 5;
    transition: 0.125s background;

    &.v {
        cursor: ns-resize;
        height: 10px;
        margin-top: -5px;
        background: linear-gradient(
            to bottom,
            transparent 0,
            transparent calc(50% - 0.5px),
            var(--theme-bg-less) calc(50% - 0.5px),
            var(--theme-bg-less) calc(50% + 0.5px),
            transparent calc(50% + 0.5px),
            transparent 100%
        );
    }

    &.h {
        cursor: ew-resize;
        width: 10px;
        margin-left: -5px;
        background: linear-gradient(
            to right,
            transparent 0,
            transparent calc(50% - 0.5px),
            var(--theme-bg-less) calc(50% - 0.5px),
            var(--theme-bg-less) calc(50% + 0.5px),
            transparent calc(50% + 0.5px),
            transparent 100%
        );
    }
}
