:host {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow-y: auto;
}

:host > div {
    flex: none;
    margin: auto;
    width: 300px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.tlink-title {
    margin: 0 0 60px;
}


.tlink-logo {
    width: 60px;
    height: 60px;
    background: url('../../../build/icons/Tlink-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto 10px;
}

footer {
    flex: none;
    padding: 20px 30px;
    background: rgba(0,0,0,.5);
}

.list-group-item ::ng-deep svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
