.profile-list {
    .list-group-item {
        padding: 2px 8px;
        line-height: 1.1;
        margin-bottom: 0;
        min-height: 0;
    }

    .profile-group-item {
        padding: 2px 8px;
        font-size: 12px;
    }

    .profile-entry-item {
        padding: 2px 8px;
        font-size: 12px;
    }
}

profile-icon {
    width: 1rem;
    margin-right: 0.25rem;
}

profile-icon + * {
    margin-left: 6px;
}
